<!-- 
Preston Loveland
Assignment 10
Section 1 group 11
-->
@model IEnumerable<Teams>

<!--Part of the view that will display the list of team names on the side-->
<a  class="btn btn-block btn-outline-secondary" asp-action="Index" asp-controller="Home" asp-route-teamid="">Home</a>
<br />

@foreach (var c in Model)
{
    <a class="btn btn-block @(c.TeamName == ViewBag.SelectedType ? "btn-primary" : "btn-outline-secondary")" 
       asp-action="Index" asp-controller="Home"
       asp-route-teamid="@c.TeamId"
       asp-route-teamname="@c.TeamName">@c.TeamName</a>
       <br />
}
